* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 600;
  background-image: url("assets/dots.jpg");
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nav {
  background-color: rgb(115, 121, 186);
}

.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 20px;
  line-height: 300%;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.nav-link:hover {
  color: rgb(0, 0, 0);
}

.profile {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}

.wrapper-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.image {
  scale: 80%;
  border-radius: 10px;
}

.wrapper-about {
  max-width: 40%;
  line-height: 1.25;
}

.profile-text {
  text-align: center;
}

.section-title {
  margin: 10px auto;
  text-align: left;
  font-size: 110%;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 0 2px rgba(0, 0, 0, 0.5);
  color: rgb(115, 121, 186);
}

.name {
  font-size: 150%;
}

.line {
  margin: 10px auto;
  width: 100%;
  height: 10px;
  border-radius: 3px;
  background-color: rgb(115, 121, 186);
}

.bold {
  font-weight: bold;
}

.section {
  width: 50%;
  padding: 20px 10px 40px 50px;
  border-bottom: 3px dashed rgb(115, 121, 186);
}

.education,
.languages {
  border-bottom: none;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.github-link {
  margin-left: 40px;
  transition: 0.5s;
}

.github-logo {
  margin-left: 5px;
  vertical-align: middle;
  padding-bottom: 5px;
  transition: 0.5s;
}

.github-link:hover .github-logo {
  filter: invert(1);
}

.link {
  text-decoration: none;
  color: rgb(115, 121, 186);
  transition: 0.5s;
}

.link:hover {
  color: rgb(0, 0, 0);
}

.code {
  display: block;
  margin: 10px 0;
}

.list-item {
  margin-bottom: 5px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: rgb(115, 121, 186);
}

.logo {
  height: 50px;
}

.letter {
  transition: 0.5s;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
}

.link:hover .letter {
  fill: rgb(255, 255, 255);
}
